/*
   * UNIVERSAL
*/
html, body { overflow-x: hidden; }

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    display: none;
}

body, p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
}

a, a:hover {
    text-decoration: none;
}



/*
* NAVBAR
*/
nav {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.nav-top {
    height: 150px;
    width: 100%;
    background-color: #212121;
}

.nav-item {
    text-transform: uppercase;

}

.nav-top img {
    height: 200px;
    opacity: 0.8;
}

.ng-scope {
    margin: 0;
    padding: 0;
}

#main-container {
    height: auto;
}



/*
   * FOOTER
*/
footer {
    height: auto;
    width: 100%;
    background-color: #212121;
    color: #fff;
    padding: 30px 0 10px 0;
}

footer h5 {
    font-size: 17px;
}

footer h6 {
    font-size: 16px;
    text-transform: capitalize;
    opacity: 0.7;
}

footer h6:hover {
    cursor: pointer;
    opacity: 0.9;
}

footer p {
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}
.sm-icon {
    transition: all ease-in-out 200ms;
}

.sm-icon:hover {
    transform: scale(1.3);
    transition: all ease-in-out 200ms;
}

.search {
    margin-top: 10px;
}



/*
    * HOME PAGE
*/
.section-2 {
 margin: 50px 0;
}

.section-2-info {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0 30px;

}

.section-2-img {
    max-height: 400px;
}

.section-2-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.section-3 .card img {
    max-height: 250px;
    object-fit: cover;
    object-position: center;
}

.section-3 .card {
    border: none;
    box-shadow: 5px 5px 8px -7px rgba(0,0,0,0.64);
    border-radius: 0;
    transition: all ease-in-out 200ms;
}

.section-3 .card:hover {
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.34);
    transform: scale(1.02);
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.section-3 .card-box {
    margin-bottom: 50px;
    border-radius: 0;
}

.section-3 .card-deck {
    border-radius: 0;
}

.section-3 .card-deck a {
    color: #000;
}

.section-3 h4 {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}



/*
   * CONTACT PAGE
*/
.contact {
    height: auto;
    margin: 30px auto;
    padding: 0 30px;
}

.contact h5 {
    margin: 50px 0;
    font-weight: bold;
    font-size: 18px;
}

.contact-picture img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 30px;
}

.contact-pic {
    min-height: 300px;
    margin-bottom: 50px;
}

.contact-shoe-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.contact-shoe-img img {
    object-fit: cover;
    object-position: top;
}

.contact-info {
    height: auto;
    width: 100%;
    padding: 50px 50px;
}
.contact-info p {
    line-height: 30px;
}

.contact-details {
    width: 100%;
    min-height: 300px;
}

.contact span {
color: red;
}

.comments .card {
    margin-bottom: 20px;
}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
}

select.ng-dirty.ng-invalid {
    border: 1px solid red;
}

.contact h4 {
    font-size: 20px;
    margin: 0;
}

.contact h6 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.contact .card p {
    font-size: 18px;
    margin: 0;
}

.table p {
    margin: 0;
}

/* .feedback-cards .card {
    border: none;
    box-shadow: 5px 5px 8px -7px rgba(0,0,0,0.64);
    border-radius: 0;
    transition: all ease-in-out 200ms;
    width
} */




/*
   * FOOTWEAR PAGE
*/
.footwear {
    height: auto;
    padding-bottom: 50px;
}

.footwear h5 {
    margin: 50px 0;
    font-weight: bold;
    font-size: 18px;
}

.footwear h4 {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.footwear .card img {
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footwear .card {
    border: none;
    box-shadow: 5px 5px 8px -7px rgba(0,0,0,0.64);
    border-radius: 0;
    transition: all ease-in-out 200ms;
}

.footwear .card:hover {
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.34);
    transform: scale(1.02);
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.footwear .card-box {
    margin-bottom: 50px;
    border-radius: 0;
}

.footwear .card-deck {
    border-radius: 0;
}

.footwear .card-deck a {
    color: #000;
}


/*
   * PRODUCT PAGE
*/
.product-page {
    height: auto;
    padding: 50px;
}

.product-info {
    margin-bottom: 60px;
}

.product-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.product-img img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.product-page h4 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.product-page h5 {
    font-weight: bold;
    font-size: 18px;
}

.product-page h6 {
    font-size: 15px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-cart-btn {
    max-width: 150px;
    margin-right: 10px;
    float: left;
    display: inline;
}

.favourite-btn {
    max-width: 50px;
    float: left;
    display: inline;
}