<!-- CONTACT PICTURE AND PARAGRAPH -->
<div class="container contact">

    <div class="container">

        <h5 class="text-responsive text-center">Contact Details</h5>


        <div class="row contact-details">

            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <h6>Category</h6>
                        </th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(category, address) in emailAddresses">
                        <td>{{ category }}</td>
                        <td>{{ address }}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>