<div class="product-page">




    <div class="row product-info">

        <!-- PRODUCT IMAGE -->
        <div class="col-12 col-md-6 product-img">
            <img src="{{ shoeInfo.image }}" />
        </div>

        <div class="col-0 col-lg-1"></div>

        <!-- PRODUCT-DETAILS -->
        <div class="col-12 col-md-5 product-details">

            <h6>{{ shoeInfo.gender }}</h6>
            <h4>{{ shoeInfo.brand }} {{ shoeInfo.name }}</h4>
            <p>{{ shoeInfo.price }}</p>

            <p>{{ shoeInfo.description }}</p>

            <div>

                <button class="btn btn-light add-cart-btn" type="button">
                    Add to Cart
                    <i class="fas fa-shopping-cart"></i>
                </button>

                <button title="Wishlist" type="button" data-toggle="modal" data-target="#myModal"
                    class="btn btn-light favourite-btn">
                    <i class="fas fa-heart"></i>
                </button>

                <!-- MODAL -->
                <div id="myModal" class="modal fade">
                    <div class="modal-content">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">


                                <div class="modal-body">
                                    <p>Added to your wishlist!</p>
                                </div>

                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="X"></input>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> <!-- END OF MODAL -->

            </div>

        </div> <!-- END OF PRODUCT DETAILS -->

    </div>



    <h5 class="text-responsive text-center">Write a review</h5>



    <!-- REVIEW FORM -->
    <form class="form" id="reviewForm" name="reviewForm" ng-submit="addReview(reviewForm)" novalidate>

        <!-- NAME -->
        <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input required type="text" class="form-control" id="name" name="name" placeholder="Your name"
                ng-model="formdata.name">

            <span class="error" ng-show="reviewForm.name.$error.required">
                *required
            </span>

        </div>

        <!-- STAR RATING -->
        <div class="form-group">
            <label for="sel1">Star Rating:</label>
            <select required class="form-control" id="stars" name="stars" ng-model="formdata.starRating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>

        <!-- COMMENT -->
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" name="comment" id="comment" placeholder="Your feedback"
                ng-model="formdata.comment"></textarea>
        </div>

        <!-- <div class="form-group" style="display: none;">
            <input type="text" value="{{ shoeInfo.id }}" ng-model="formdata.shoeId">
        </div> -->

        <!-- SUBMIT -->
        <button onclick="resetForm();" ng-disabled="reviewForm.$invalid" type="submit"
            class="btn btn-info">Submit</button>

    </form> <!-- END OF REVIEW FORM -->




    <h5 class="text-responsive text-center">Reviews</h5>



    <!-- INDIVIDUAL REVIEW -->
    <div class="card-deck align-middle comments" ng-repeat="review in shoeReviews | orderBy: '-starRating'"
        ng-show="review.shoeId == '{{ shoeInfo.id }}'">


        <div class="card">
            <div class="card-header">
                <h5 class="text-center" style="display: inline-flex;">{{ review.starRating }}</h5>
                <i class="fas fa-star" style="display: inline-flex;"></i>
            </div>
            <div class="card-body text-dark">
                <h4 class="card-title">{{ review.name }}</h4>
                <p class="card-text">{{ review.comment }}</p>
            </div>
        </div>


    </div> <!-- END OF INDIVIDUAL REVIEW -->



</div>