<div class="product-page">




    <div class="row product-info">

        <!-- PRODUCT IMAGE -->
        <div class="col-12 col-md-6 product-img">
            <img src="{{ shoeInfo.image }}" />
        </div>

        <div class="col-0 col-lg-1"></div>

        <!-- PRODUCT-DETAILS -->
        <div class="col-12 col-md-5 product-details">

            <h6>{{ shoeInfo.gender }}</h6>
            <h4>{{ shoeInfo.brand }} {{ shoeInfo.name }}</h4>
            <p>{{ shoeInfo.price }}</p>

            <p>{{ shoeInfo.description }}</p>

            <div>

                <button class="btn btn-light add-cart-btn" type="button">
                    Add to Cart
                    <i class="fas fa-shopping-cart"></i>
                </button>

                <button class="btn btn-light favourite-btn">
                    <i class="fas fa-heart"></i>
                </button>

            </div>

        </div> <!-- END OF PRODUCT DETAILS -->

    </div>




    <div class="row">

        <h5>Write a review</h5>

        <!-- FORM -->
        <form>


        </form><!-- END OF FORM -->

    </div>




</div>